/* General */
body {
  font-family: "Montserrat", sans-serif;
  color: hsla(0, 0%, 0%, 1);
  font-size: 12px;
}

/* Utility */
.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}
.container {
  max-width: 1280px;
  width: 40%;
  margin: 0 auto;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid hsla(0, 0%, 90%, 1);
  margin: 1em 0;
  padding: 0;
}

/* SECTION */
section {
  gap: 4rem;
  align-items: center;
  padding-block: 1rem;
}

.hour {
  font-size: 12px;
  font-weight: 700;
}

.detail {
  align-self: flex-start;
}
.detail__title {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 0.8em;
}

.detail__type {
  font-size: 12px;
  font-weight: 400;
}

.detail__live {
  font-weight: 700;
  gap: 10px;
}

.detail__live span {
  color: red;
}

.detail__live span + span {
  margin-left: 10px;
}
